

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  height: 100px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}


.navbutton{
  margin: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.profileWrapper{
  width: 100%;
  height: 80%;
  background-color: dodgerblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.card-holder{
  justify-content: center;
}

.card{
  background-color: transparent;
  display: inline-flex;
  margin: 30px;
  border-radius : 20px;
  width: 350px;
  height: 400px;
  transition: transform .2s;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  padding: 10px;
  border: none;
}

.card-body {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  padding: 0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover .card-body {
  transform: rotateY(180deg);
}

.card-front, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  padding: 20px;
  color: black;

}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

.card-back-container > *{
  margin: 2px;
}
